@include block(breadcrumbs)
{
    @include element(item)
    {
        font-family: $default-font;
        font-size: 16px;
        text-transform: uppercase;
        color: $color-03;
        letter-spacing: 1px;

        &:after
        {
            content: '→';
            margin-left: $rule / 2;
            margin-right: $rule / 2;
            color: $color-04;
        }

        &:last-child:after
        {
            display: none;
        }
    }
}
