@include block(asg-styleguide)
{
    background-color: $color-02;
    position: relative;
    min-height: 100vh;

    @include element(header)
    {
        width: 100%;
        padding: $rule;
        background-color: $color-01;
        box-shadow: $shadow;
    }

    @include element(content)
    {
        padding: $rule;
    }
}
