@include block(asg-title)
{
    font-family: $default-font;
    font-size: 15px;
    color: $color-03;

    @include modifier(small)
    {
        font-size: 14px;
    }

    @include modifier(large)
    {
        font-size: 16px;
        text-transform: uppercase;
    }
}
