// colors
$color-01: #fff;
$color-02: #f8f8f8;
$color-03: #666;
$color-04: #e0e0e0;

// fonts
$default-font: 'Maven Pro', sans-serif;

// borders
$border: 1px solid $color-04;

// distances
$rule: 20px;